[Unit]
Description=Exibi a temperatura do CPU no Water Cooler Rise Mode Aura Ice

[Service]
Type=simple
User=root
ExecStart=/usr/bin/risemode
Restart=always

[Install]
WantedBy=default.target